<template name="storyList">
  <div class="wbu-introduction {{introductionDismissed}}">
    <p>Write By Us is a collaborative writing game.</p>
    <h3>How it works:</h3>
    <ol>
      <li>Create an an account or sign in.</li>
      <li>Join an existing Story or start your own!</li>
      <li>Submit your idea for the story's next sentence.</li>
      <li>Vote for your favorite submissions.</li>
      <li>The submission with the most votes is selected as the next sentence in the story when the clock rolls over.</li>
    </ol>
    <button class="wbu-introduction__gotit">Let's Write</button>
  </div>
  <ul class="wbu-stories">
  {{#each stories}}
    {{> story}}
  {{/each}}
  </ul>
  {{#if currentUser}}
    {{> newStory}}
  {{/if}}
</template>

<template name="story">
  <li>
    <a href="{{pathFor 'write'}}"><span>{{name}}</span></a>
  </li>
</template>

<template name="newStory">
  <form class="wbu-form ">
    <span>
      <input name="name" id="name" type="text" required />
      <i class="fa fa-fw fa-book"></i>
    </span>
  </form>
</template>
